<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Agregar rack</h4>
    <div class="[ row ]">
        <form name="entry_form" class="[ mt-40 ][ left-align ]" ng-submit="createRack()" data-parsley-validate>
            <div class="[ col s6 m4 offset-m2 ]"> 
                <div class="input-field">
                    <input type="text" id="rackName" ng-model="rackName" required>
                    <label for="rackName">Nombre</label>
                </div>
            </div>
            <div class="[ col s6 m2 ]"> 
                <div class="input-field">
                    <input type="text" id="columns" ng-model="columns" required data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-min-message="El valor deber ser mayor que 0" min="1">
                    <label for="columns">Columnas</label>
                </div>
            </div>
            <div class="[ col s6 m2 ]"> 
                <div class="input-field">
                    <input type="text" id="rows" ng-model="rows" required data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-min-message="El valor deber ser mayor que 0" min="1" ng-disabled="isFloor">
                    <label for="rows">Filas</label>
                </div>
            </div>
            <div class="[ col s12 ]"> 
                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]">crear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
  $('[data-parsley-validate]').parsley();
</script>





