<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div  class="[ card-panel ]"  ng-include src="'warehouse/templates/locate-unit-item.html'" ng-if="item.actable_type == 'UnitItem'"></div>

<div  class="[ card-panel ]"  ng-include src="'warehouse/templates/locate-bulk-item.html'" ng-if="item.actable_type == 'BulkItem'"></div>

<div  class="[ card-panel ]"  ng-include src="'warehouse/templates/locate-bundle-item.html'" ng-if="item.actable_type == 'BundleItem'"></div>
