<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Racks</h4>
    <table datatable="ng" dt-options="dtRackOptions" dt-column-defs="dtRackColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th class="[ center-align ]">Nombre</th>
                <th class="[ center-align ]">Filas</th>
                <th class="[ center-align ]">Columnas</th>
                <th class="[ center-align ]">Ubicaciones totales</th>
                <th class="[ center-align ]">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr id="{{r.id}}" ng-repeat="r in racks">
                <td class="[ center-align ]">{{ r.name }}</td>
                <td class="[ center-align ]">{{ r.row }}</td>
                <td class="[ center-align ]">{{ r.column }}</td>
                <td class="[ center-align ]">{{ r.total_locations }}</td>
                <td class="[ center-align ]">
                    <a class="[ btn waves-effect ]" href="#/view-rack/{{r.id}}"><i class="[ fa fa-eye ]"></i></a>
                    <a class="[ btn waves-effect ][ red ]" ng-click="deleteRack( r.id )" ng-if="r.is_empty"><i class="[ fa fa-times ][ left ]"></i>Eliminar</a>
                    <a class="[ btn waves-effect ][ red ]" ng-click="emptyRack( r.id )" ng-if="! r.is_empty"><i class="[ mdi-action-flip-to-back ][ left ]"></i>Vaciar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
    <div class="[ row ]">
        <div class="[ col s12 ][ center-align ]">
            <a class="[ btn ]" href="#/add-rack"><i class="[ fa fa-plus ][ left ]"></i>Agregar rack</a>
        </div>
    </div>  
</div>





