<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ row ]">
    <h3 class="[ center-align ]">Ubicación {{ locationName }}</h3>
    <div class="[ col s12 m3 ]">
        <div class="card-panel stats-card blue white-text">
            <span class="count">{{ rack }}</span>
            <div class="name">Rack</div>
        </div>
    </div>
    <div class="[ col s12 m3 ]">
        <div class="card-panel stats-card blue white-text">
            <span class="count">{{ item_location_quantity }}</span>
            <div class="name">Cantidad total</div>
        </div>
    </div>
    <div class="[ col s12 m3 ]">
        <div class="card-panel stats-card blue white-text">
            <span class="count">{{ numItems }}</span>
            <div class="name"># de artículos</div>
        </div>
    </div>
    <div class="[ col s12 m3 ]">
        <div class="card-panel stats-card [ {{ getStatusClass( status ) }}]">
            <span class="count">{{ statusDescription }}</span>
            <div class="name">Estatus</div>
        </div>
    </div>
    <div class="[ col s12 ][ center-align ]"> 
        <a class="[ btn ]" href="#/view-rack/{{ rackId }}">Ir a rack</a>
        <button class="[ btn red ]" ng-if="status != 3" ng-click="markAsFull()">Marcar como llena</button>
        <button class="[ btn green ]" ng-if="status == 3" ng-click="markAsAvailable()">Marcar como disponible</button>
    </div>
</div>
<div class="[ row ][ card-panel ]">
    <div class="[ col s12 ][ mt-40 ]">
        <h5 class="[ center-align ]">Artículos en ubicación</h5>
        <table datatable="ng" dt-options="dtItemsOptions" dt-column-defs="dtItemsColumnDefs" class="row-border hover">
            <thead>
                <tr>
                    <th class="[ center-align ]">Entrada</th>
                    <th class="[ center-align ]">Nombre</th>
                    <th class="[ center-align ]">Número de serie</th>
                    <th class="[ center-align ]">Cantidad</th>
                    <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
                    <th class="[ center-align ][ hide-on-med-and-down ]">Proyecto</th>
                    <th class="[ center-align ]">Reubicar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in inventory_items">
                    <td class="[ center-align ]"><i class="[ {{ getItemTypeIcon( item.actable_type ) }} ]"></i></td>
                    <td><a href="#/view-item/{{item.id}}">{{ item.name }}</a></td>
                    <td class="[ center-align ]">{{ item.serial_number }}</td>
                    <td class="[ center-align ]">{{ item.quantity }}</td>
                    <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
                    <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.project }}</td>
                    <td class="[ center-align ]"><a class="[ btn waves-effect ]" href="#/relocate/{{locationId}}/{{item.id}}"><i class="[ fa fa-location-arrow ]"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div >
</div>




