<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ row ][ mb-10 ]">
    <div class="[ col s12 m12 ]">
        <div class="card">
            <div class="title">
                <h5>Capacidad</h5>
            </div>
            <div class="content orders-card">
                <h4>{{ stats.total_occupied_locations }} de {{ stats.total_locations }} ubicaciones</h4>
                <div class="row">
                    <div class="col s6">
                        <small>Ocupación de almacén aproximada</small>
                    </div>
                    <span class="[ col s6 ][ right-align ]">{{ stats.warehouse_occupation_percentage }} %</span>
                </div>
                <div class="progress small">
                    <div class="determinate" style="width: {{ stats.warehouse_occupation_percentage }}%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="[ col s12 m12 ]">
        <div class="[ row ]">
            <div class="[ col s12 m6 ]">
                <div class="card-panel stats-card blue white-text">
                    <i class="mdi-action-view-module"></i>
                    <span class="count">{{ stats.total_racks }}</span>
                    <div class="name">Racks</div>
                </div>
            </div>
            <div class="[ col s12 m6 ]">
                <div class="card-panel stats-card blue white-text">
                    <i class="mdi-maps-navigation"></i>
                    <span class="count">{{ stats.total_locations }}</span>
                    <div class="name">Ubicaciones totales</div>
                </div>
            </div>
            <div class="[ col s12 m6 ]">
                <div class="card-panel stats-card blue white-text">
                    <i class="mdi-navigation-apps"></i>
                    <span class="count">{{ stats.total_items_in_warehouse }}</span>
                    <div class="name">Artículos en almacén</div>
                </div>
            </div>
            <div class="[ col s12 m6 ]">
                <div class="card-panel stats-card blue white-text">
                    <i class="fa fa-warning"></i>
                    <span class="count">{{ stats.total_items_with_pending_location }}</span>
                    <div class="name">Artículos con ubicación pendiente</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Artículos ingresados con ubicación pendiente</h4>
    <table datatable="ng" dt-options="dtPendingLocationOptions" dt-column-defs="dtPendingLocationColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th></th>
                <th class="[ center-align ]">Nombre</th>
                <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
                <th class="[ center-align ][ hide-on-small-only ]">Cantidad total</th>
                <th class="[ center-align ][ hide-on-small-only ]">Vigencia / Caducidad</th>
                <th class="[ center-align ]">Asignar ubicación</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pending_locations">
                <td class="[ center-align ]"><img ng-src="{{ item.item_img_thumb }}" alt=""></td>
                <td class="[ center-align ]"><a href="#/view-item/{{item.id}}">{{ item.name }}</a></td>
                <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ item.quantity }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ item.validity_expiration_date | date:'dd/MM/yyyy' }}</td>
                <td class="[ center-align ]"><a class="[ btn waves-effect ]" href="#/locate-item/{{item.id}}" ><i class="[ fa fa-location-arrow ]"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Artículos reingresados con ubicación pendiente</h4>
    <table datatable="ng" dt-options="dtPendingLocationOptions" dt-column-defs="dtPendingLocationColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th></th>
                <th class="[ center-align ]">Nombre</th>
                <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
                <th class="[ center-align ][ hide-on-small-only ]">Cantidad</th>
                <th class="[ center-align ][ hide-on-small-only ]">Vigencia / Caducidad</th>
                <th class="[ center-align ]">Asignar ubicación</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in reentryPendingLocations">
                <td><img class="[ center-align ]" ng-src="{{ item.item_img_thumb }}" alt=""></td>
                <td><a href="#/view-item/{{item.id}}">{{ item.name }}</a></td>
                <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ item.quantity }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ item.validity_expiration_date | date:'dd/MM/yyyy' }}</td>
                <td class="[ center-align ]"><a class="[ btn waves-effect ]" href="#/locate-item/{{item.id}}" ><i class="[ fa fa-location-arrow ]"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
