<div class="[ card-panel ]" ng-show="!isSummary">
    <div class="[ row ]">
        <h4 class="[ center-align ]">Salida de inventario</h4>
        <div class="[ col s12 ][ mt-10 ]">
            <div class="[ row ]">
                <div class="[ col s12 m4 offset-m2 ][ center-align ][ item ]">
                    <div class="[ card ]">
                        <div class="[ card-image ][ img-mercancia ]">
                            <img ng-src="{{item.img}}" alt="{{item.name}}">
                        </div>
                    </div>
                </div>
                <div class="[ col s12 m4 ]">
                    <div class="input-field">
                        <input id="input_text" type="text" name="itemName" ng-model="item.name" ng-readonly="true">
                        <label for="textarea1">Nombre</label>
                    </div>
                    <div class="input-field">
                        <input id="input_text" type="text" name="itemType" ng-model="item.item_type" ng-readonly="true">
                        <label for="textarea1">Tipo de mercancía</label>
                    </div>
                    <div class="input-field">
                        <input id="input_text" type="text" name="locations" ng-model="locations" ng-readonly="true">
                        <label for="textarea1">Ubicación</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="[ col s12 m4 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="project" ng-model="item.project" ng-readonly="true">
                <label for="input_text">Proyecto</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="pm" ng-model="item.pm" ng-readonly="true">
                <label for="input_text">Project Manager</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="ae" ng-model="item.ae" ng-readonly="true">
                <label for="input_text">Ejecutivo de cuenta</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="clientName" ng-model="item.client" disabled>
                <label for="input_disabled">Cliente</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]">
            <div class="input-field">
                <input id="input_disabled" type="text" name="clientContact" ng-model="item.client_contact" disabled>
                <label for="input_disabled">Contacto cliente</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]" ng-hide="1">
            <div class="input-field">
                <input id="input_text" type="text" name="serialNumber" ng-model="item.serial_number" ng-readonly="true">
                <label for="input_text">Número de serie</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]" ng-hide="1">
            <div class="input-field">
                <input id="input_text" type="text" name="brand" ng-model="brand" disabled>
                <label for="input_text">Marca</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]" ng-hide="1">
            <div class="input-field">
                <input id="input_text" type="text" name="model" ng-model="model" disabled>
                <label for="input_text">Modelo</label>
            </div>
        </div>
        <div class="[ col s12 ]">
            <div class="input-field">
                <textarea class="materialize-textarea" name="description" ng-model="item.description" disabled></textarea>
                <label for="textarea1">Descripción</label>
            </div>
        </div>

        <form ng-submit="withdraw( item.actable_type )" data-parsley-bulk>
            <div class="[ col s12 m6 ][ mt-20 ]">
                <select name="pickupCompany" ng-model="pickupCompany" required data-parsley-error-message="¡El proveedor es obligatorio!">
                    <option value="" disabled selected>Selecciona el proveedor</option>
                    <option ng:repeat="supplier in suppliers" value="{{supplier.id}}">{{supplier.name}}</option>
                </select>
            </div>
            <div class="[ col s12 m6 ]">
                <div class="input-field">
                    <input id="pickup-contact-bulk" type="text" name="pickupCompanyContact" ng-model="pickupCompanyContact">
                    <label for="pickup-contact-bulk">¿Quién se lo lleva?</label>
                </div>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 m6 ]">
                <label class="[ fs-12 ]" for="">Fecha de salida (mm/dd/aaaa)</label>
                <input class="datepicker" type="date" name="exitDate" ng-model="exitDate" required>
            </div>
            <div class="[ col s12 m6 ]">
                <label class="[ fs-12 ]" for="">Fecha estimada de retorno (mm/dd/aaaa)</label>
                <input class="datepicker" type="date" ng-model="returnDate">
            </div>
            <div ng-if="multipleBulkLocations">
                <div class="[ col s4 m4 l4 offset-l4 ]">
                    <div class="input-field">
                        <input id="input_text" type="text" name="item.quantity" ng-model="item.quantity" disabled>
                        <label for="input_text">Cantidad total disponible</label>
                    </div>
                </div>
                <div class="[ clear ]"></div>
                <div ng-repeat="location in item.locations track by $index">
                    <div class="[ col s6 m2 ]">
                        <div class="input-field">
                            <input id="quantity-location-{{ $index }}" type="text" name="quantity_location_{{ $index }}" ng-model="location.quantity" disabled>
                            <label for="quantity-location-{{ $index }}">Cantidad en ubicación</label>
                        </div>
                    </div>
                    <div class="[ col s6 m2 ]">
                        <div class="input-field">
                            <input id="input_text" type="text" name="location" ng-model="location.location" disabled>
                            <label for="input_text">Ubicación</label>
                        </div>
                    </div>
                    <div class="[ col s6 m3 ]">
                        <div class="input-field">
                            <input id="input_text" type="text" name="location" ng-model="location.units" disabled>
                            <label for="input_text">Unidades ocupadas</label>
                        </div>
                    </div>
                    <div class="[ col s6 m2 ]">
                        <div class="input-field">
                            <input class="[ withdraw-quantity ]" id="withdraw-quantity-{{$index}}" type="number" name="withdraw-quantity-{{$index}}"  data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-range-message="El valor deber ser mayor que 0 y menor {{ location.quantity }}." min="1" max="{{location.quantity}}">
                            <label for="withdraw-quantity-{{$index}}">Cantidad a retirar</label>
                        </div>
                    </div>
                    <div class="[ col s6 m3 ]">
                        <div class="input-field">
                            <input class="[ withdraw-units ]" id="withdraw-units-{{$index}}" type="number" name="withdraw-units-{{$index}}"  data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-range-message="El valor deber ser mayor que 0 y menor {{ location.units }}." min="1" max="{{location.units}}">
                            <label for="withdraw-units-{{$index}}">Unidades a desocupar</label>
                        </div>
                    </div>
                    <input type="hidden" value="">
                </div>
            </div>
            <div ng-if="! multipleBulkLocations">
                <div class="[ col s4 m4 l4 offset-l2 ]">
                    <div class="input-field">
                        <input id="input_text" type="text" name="item.quantity" ng-model="item.quantity" disabled>
                        <label for="input_text">Cantidad disponible</label>
                    </div>
                </div>
                <div class="[ col s4 m4 l4 ]">
                    <div class="input-field">
                        <input id="withdraw-quantity" type="number" name="item.withdrawQuantity" ng-model="item.withdrawQuantity" required data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-min-message="El valor deber ser mayor que 0." min="1">
                        <label for="withdraw-quantity">Cantidad a retirar</label>
                    </div>
                </div>
            </div>
            <div class="[ col s12 ]">
                <div class="input-field">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="additionalComments"></textarea>
                    <label for="textarea1">Observaciones adicionales</label>
                </div>
            </div>
            <div class="[ col s12 ][ center-align ]">
                <button class="[ waves-effect ][ btn red ]">Dar salida</button>
            </div>
        </form>
    </div>
</div>

<div class="[ card-panel ][ pcuervo-print ]" ng-show="isSummary">
    <div class="[ row ]">
        <h4 class="[ center-align ][ mb-20 ]">Resumen de salida</h4>
        <div class="[ col s12 m4 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="project" ng-model="item.name" ng-readonly="true">
                <label for="textarea1">Nombre</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="project" ng-model="item.item_type" ng-readonly="true">
                <label for="textarea1">Tipo de mercancía</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]">
            <div class="input-field" ng-if="multipleBulkLocations">
                <input id="input_text" type="text" name="locations" ng-model="locations" ng-readonly="true">
                <label for="textarea1">Ubicación de donde salió</label>
            </div>
            <div class="input-field" ng-if="!multipleBulkLocations">
                <input id="input_text" type="text" name="withdraw-quantity" ng-model="item.withdrawQuantity" ng-readonly="true">
                <label for="textarea1">Cantidad retirada</label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="[ col s12 m4 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="project" ng-model="item.project" ng-readonly="true">
                <label for="input_text">Proyecto</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="pm" ng-model="item.pm" ng-readonly="true">
                <label for="input_text">Project Manager</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]">
            <div class="input-field">
                <input id="input_text" type="text" name="ae" ng-model="item.ae" ng-readonly="true">
                <label for="input_text">Ejecutivo de cuenta</label>
            </div>
        </div>
        <div class="[ col s12 m6 ][ print--cliente ]">
            <div class="input-field">
                <input id="input_text" type="text" name="clientName" ng-model="item.client" disabled>
                <label for="input_disabled">Cliente</label>
            </div>
        </div>
        <div class="[ col s12 m6 ][ print--contacto-cliente ]">
            <div class="input-field">
                <input id="input_disabled" type="text" name="clientContact" ng-model="item.client_contact" disabled>
                <label for="input_disabled">Contacto cliente</label>
            </div>
        </div>
        <div class="[ col s12 m6 ][ print--num-serie ]" ng-hide="1">
            <div class="input-field">
                <input id="input_text" type="text" name="serialNumber" ng-model="item.serial_number" ng-readonly="true">
                <label for="input_text">Número de serie</label>
            </div>
        </div>
        <div class="[ col s12 m6 ][ print--marca ]" ng-hide="1">
            <div class="input-field">
                <input id="input_text" type="text" name="brand" ng-model="brand" disabled>
                <label for="input_text">Marca</label>
            </div>
        </div>
        <div class="[ col s12 m6 ][ print--modelo ]" ng-hide="1">
            <div class="input-field">
                <input id="input_text" type="text" name="model" ng-model="model" disabled>
                <label for="input_text">Modelo</label>
            </div>
        </div>
        <div class="[ col s12 m6 ][ print--proveedor ]">
            <div class="input-field">
                <input id="selected-pickup-company" type="text" name="pickupCompanyText" ng-model="selectedPickupCompanyText" disabled>
                <label for="selected-pickup-company">Proveedor</label>
            </div>
        </div>
        <div class="[ col s12 m6 ][ print--quien-se-lo-lleva ]">
            <div class="input-field">
                <input id="pickup-contact-unit" type="text" name="pickupCompanyContact" ng-model="pickupCompanyContact" disabled>
                <label for="pickup-contact-unit">¿Quién se lo lleva?</label>
            </div>
        </div>
        <div class="[ clear ]"></div>
        <div class="[ col s12 m6 ][ print--fecha-salida ]">
            <label class="[ fs-12 ]" for="">Fecha de salida (mm/dd/aaaa)</label>
            <input class="datepicker" type="date" name="exitDate" ng-model="exitDate" disabled>
        </div>
        <div class="[ col s12 m6 ][ print--fecha-retorno ]">
            <label class="[ fs-12 ]" for="">Fecha estimada de retorno (mm/dd/aaaa)</label>
            <input class="datepicker" type="date" ng-model="returnDate" disabled>
        </div>
        <div class="[ col s12 ][ print--observaciones ]">
            <div class="input-field">
                <textarea id="textarea1" class="materialize-textarea" ng-model="additionalComments" disabled></textarea>
                <label for="textarea1">Observaciones adicionales</label>
            </div>
        </div>
        <div class="[ clear ]"></div>
        <div ng-if="multipleBulkLocations">
            <div ng-repeat="location in fromLocations track by $index">
                <div class="[ col s6 m4 ][ print--ubicacion ]">
                    <div class="input-field">
                        <input id="input_text" type="text" name="location" ng-model="location.location" disabled>
                        <label for="input_text">Ubicación</label>
                    </div>
                </div>
                <div class="[ col s6 m4 ][ print--cantidad-retirada ]">
                    <div class="input-field">
                        <input class="[ withdraw-quantity ]" type="text" name="withdraw-quantity-{{$index}}" ng-model="location.quantity" disabled>
                        <label for="withdraw-quantity-{{$index}}">Cantidad retirada</label>
                    </div>
                </div>
                <div class="[ col s6 m4 ][ print--unidades-desocupadas ]">
                    <div class="input-field">
                        <input class="[ withdraw-units ]" type="text" name="withdraw-units-{{$index}}" ng-model="location.units" disabled="">
                        <label for="withdraw-units-{{$index}}">Unidades desocupadas</label>
                    </div>
                </div>
                <input type="hidden" value="">
            </div>
        </div>
        <div class="[ col s12 ][ center-align ]" >
            <button class="[ waves-effect ][ btn btn-extra ]" ng-click="printSummary()"><i class="mdi-action-print left"></i>Remisión salida</button>
            <a href="#/new-delivery/{{ item.id }}" class="[ waves-effect ][ btn btn-extra ]"><i class="mdi-action-schedule left"></i>Programar envío</a>
        </div>
        <div class="[ clear ]"></div>
        <div class="[ input-field ][ print--firma ]">
            <input class="[ withdraw-units ]" type="text" name="">
            <label for="withdraw-units-{{$index}}">firma</label>
        </div>
    </div>
</div>

<script>
    $('[data-parsley-bulk]').parsley();
</script>