
<h4 class="[ center-align ]">Editar artículo</h4>
<div class="[ row ]">
    <form name="entry_form" class="[ mt-40 ][ left-align ]" enctype="multipart/form-data" ng-submit="editItem( item.actable_type )" data-parsley-item>
        <img class="[ materialboxed ][ col s12 m3 offset-m3 ]" src="{{item.img}}}">
        <img class="[ materialboxed ][ col s12 m3 ][ js-barcode ]" src="#">
        <div class="[ clear ]"></div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="item-name" type="text" name="itemName" ng-model="itemName" required>
                <label for="item-name">Nombre (alias)</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="serial-number" type="text" name="itemStatus" ng-model="itemStatus" required>
                <label for="serial-number">Status</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="serial-number" type="text" name="serialNumber" ng-model="serialNumber" required>
                <label for="serial-number">Número de serie</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="brand" type="text" name="brand" ng-model="brand">
                <label for="brand">Marca</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="model" type="text" name="model" ng-model="model">
                <label for="model">Modelo</label>
            </div>
        </div>
        <div class="[ col s12 m4 ][ mt-10 ]"> 
            <select name="itemState" ng-model="itemState" required>
                <option value="" disabled selected>Estado</option>
                <option value="1" selected>Nuevo</option>
                <option value="2" selected>Como nuevo</option>
                <option value="3" selected>Usado</option>
                <option value="4" selected>Dañado</option>
            </select>
        </div>
        <div class="[ col s12 ]"> 
            <div class="[ input-field ]">
                <textarea id="description" class="materialize-textarea" name="description" ng-model="description" data-parsley-trigger="keyup" data-parsley-maxlength="200" data-parsley-maxlength-message = "Este campo debe contener menos de 200 caracteres."></textarea>
                <label for="description">Descripción</label>
            </div>
        </div>
        <div class="[ clear ]"></div>
        <div class="[ col s12 m4 ][ mt-10 ]"> 
            <select name="itemType" ng-model="itemType" required >
                <option value="" disabled selected>Tipo de mercancía</option>
                <option value="Laptop">Laptop</option>
                <!-- <option ng-repeat="value in ['Laptop', 'Desktop', 'Impresora', 'Celular', 'Pantalla', 'POP', 'POS', 'Promocional', 'Mobiliario', 'Otro']" value="{{value}}">{{value}}</option> -->
            </select>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="itemValue" type="text" name="itemValue" ng-model="itemValue" required data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-min-message="El valor deber ser mayor que 0" min="1" required>
                <label for="itemValue">Valor</label>
            </div>
        </div>
        <div class="[ col s12 m4 ][ mt-10 ]"> 
            <select name="storageType" ng-model="storageType" ng-change="updateExpirationDate( storageType )" required>
                <option value="" disabled selected>Tipo de almacenaje</option>
                <option ng-repeat="value in ['Permanente', 'Temporal', 'Donación', 'Perecedero']" value="{{value}}">{{value}}</option>
            </select>
        </div>
        <div class="[ clear ]"></div>
        <div class="[ col s12 m6 ]">    
            <label class="[ fs-12 ]" for="">Fecha de ingreso (mm/dd/aaaa)</label>
            <input class="datepicker" type="date" name="entryDate" ng-model="entryDate" required>
        </div>
        <div class="[ col s12 m6 ]">    
            <label class="[ fs-12 ][ js-expiration-date-label ]" for="">Fecha vigencia (mm/dd/aaaa)</label>
            <input class="datepicker" type="date" ng-model="validityExpirationDate" required>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="project" type="text" ng-model="project" ng-readonly="true">
                <label for="project">Proyecto</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="pm" type="text" ng-model="pm" ng-readonly="true">
                <label for="pm">Project Manager</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="ae" type="text" ng-model="ae" ng-readonly="true">
                <label for="ae">Ejecutivo de cuenta</label>
            </div>
        </div>
        <div class="[ clear ]"></div>
        <div class="[ col s12 m6 ]"> 
            <div class="input-field">
                <input id="client-name" type="text" ng-model="clientName" ng-readonly="true">
                <label for="client-name">Cliente</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]"> 
            <div class="input-field">
                <input id="client-contact" type="text" name="clientContact" ng-model="clientContact" ng-readonly="true">
                <label for="client-contact">Contacto cliente</label>
            </div>
        </div>
        <div class="[ col s12 ]" ng-if="hasLocations"> 
            <h4 class="[ center-align ]">Ubicación de artículo</h4>
            <table datatable="ng" dt-options="dtItemLocationsOptions" dt-column-defs="dtItemLocationsColumnDefs" class="row-border hover">
                <thead>
                    <tr>
                        <th class="[ center-align ]">Rack</th>
                        <th class="[ center-align ]">Ubicación</th>
                        <th class="[ center-align ]">Unidades</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="location in item.locations">
                        <td class="[ center-align ]">{{ location.rack }}</td>
                        <td class="[ center-align ]"><a href="#/view-location/{{location.location_id}}">{{ location.location }}</a></td>
                        <td class="[ center-align ]">{{ location.units }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="[ clear ]"></div>
        <div class="[ col s12 ]"> 
            <input type="hidden" name="entry_type" value="unit">
            <div class="[ center-align ]">
                <a href="#" class="[ waves-effect ][ btn ]"><i class="[ fa fa-print ][ left ]" ng-click="printSummary()"></i>Imprimir remisión</a>
<!--                 <button class="[ waves-effect ][ btn ]" ng-if="1==role || 4==role"><i class="[ fa fa-edit ][ left ]"></i>Editar</button> -->
                <a href="#/new-delivery/{{ item.id }}" class="[ waves-effect ][ btn ]" ng-if="1==itemStatus || 3==itemStatus"><i class="[ fa fa-motorcycle ][ left ]"></i>Crear envío</a>
                <a href="#/re-entry/{{ item.id }}" class="[ waves-effect ][ btn ]" ng-if="2==itemStatus"><i class="[ fa fa-indent ][ left ]"></i>Reingresar</a>
                <a href="#/locate-item/{{ item.id }}" class="[ waves-effect ][ btn ]" ng-if="! hasLocations"><i class="[ fa fa-location-arrow ][ left ]"></i>Ubicar</a>
            </div>
        </div>
    </form>
</div><!-- row -->

<script>
  $('[data-parsley-item]').parsley();
</script>
