<div class="row">
	<h3 class="[ center-align ]">Atajos</h3>
	<div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra ][ waves-effect ]" href="#/add-user"><i class="[ fa fa-users ][ left ]"></i>Agregar usuario Litobel</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra ][ waves-effect ]" href="#/add-project"><i class="[ fa fa-briefcase ][ left ]"></i>Agregar proyecto</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra ][ waves-effect ]" href="#/add-client"><i class="[ mdi-action-assignment-ind ][ left ]"></i>Agregar cliente</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/check-in"><i class="[ fa fa-indent ][ left ]"></i>Dashboard Entradas</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra red ][ waves-effect ]" href="#/check-out"><i class="[ fa fa-outdent ][ left ]"></i>Dashboard Salidas</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra ][ waves-effect ]" href="#/wh-dashboard"><i class="[ fa fa-location-arrow ][ left ]"></i>Dashboard Ubicaciones</a>
    </div>
</div>

<div class="[ card-panel ][ mt-20 ]">
	<div class="[ row ]">
		<h3 class="[ center-align ]">Estadísticas generales</h3>
		<div class="[ col s12 m4 ]">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ totalInventory }}</span>
				<div class="name">Total de artículos en inventario</div>
			</div>
		</div>
		<div class="[ col s12 m4 ]">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ inventoryValue | currency : symbol : fractionSize }}</span>
				<div class="name">Valor estimado de inventario</div>
			</div>
		</div>
		<div class="[ col s12 m4 ]">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ currentRent | currency : symbol : fractionSize }}</span>
				<div class="name">Renta estimada del día</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 l7">
		<div class="card">
			<div class="title">
				<h5>Ubicaciones ocupadas nuevas por mes</h5>
			</div>
			<div class="content">
				<flot dataset="monthlySpaceData" options="monthlySpaceOpts" style="display: block; height: 300px"></flot>
			</div>
		</div>
	</div>
	<div class="col s12 l5">
		<div class="card">
			<div class="title">
				<h5>Inventario por tipo</h5>
			</div>
			<div class="content">
				<flot dataset="inventoryByItemData" options="inventoryByItemOpts" style="display: block; height: 300px"></flot>
			</div>
		</div>
  	</div>
</div>

<div class="[ card-panel ]">
	<div class="[ row ]">
   	 	<div class="[ col s12  ]">
			<h4 class="[ center-align ]">Solicitudes de entrada</h4>
			<table datatable="ng" dt-options="dtPendingEntryRequestsOptions" dt-column-defs="dtPendingEntryRequestsColumnDefs" class="row-border hover">
		        <thead>
		            <tr>
		                <th class="[ center-align ]">Nombre</th>
		                <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
		                <th class="[ center-align ][ hide-on-med-and-down ]">Proyecto</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Project Manager</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Ejecutivo de Cuenta</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Fecha de entrada</th>
		                <th class="[ center-align ]">Ingresar</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="item in pendingInventoryItems">
		                <td>{{ item.name }}</td>
		                <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
		                <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.project }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ item.pm }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ item.ae }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ item.entry_date | date:'dd/MM/yyyy' }}</td>
		                <td class="[ center-align ]"><a class="[ btn waves-effect green ]" href="#/authorize-entry/{{ item.id }}"><i class="[ fa fa-indent ]"></i></a></td>
		            </tr>
		        </tbody>
		    </table>  
		</div>
		<div class="[ col s12 ]">
			<h4 class="[ center-align ]">Solicitudes de salida</h4>
			<table datatable="ng" dt-options="dtPendingWithdrawalRequestsOptions" dt-column-defs="dtPendingWithdrawalRequestsColumnDefs" class="row-border hover">
		        <thead>
		            <tr>
		                <th class="[ center-align ]">¿Quién solicita?</th>
		                <th class="[ center-align ][ hide-on-med-and-down ]">Número de artículos</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Fecha de salida</th>
		                <th class="[ center-align ]">Acciones</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="w in withdrawRequests">
		                <td>{{ w.user.first_name + ' ' + w.user.last_name }}</td>
		                <td class="[ center-align ][ hide-on-med-and-down ]">{{ w.withdraw_request_items.length }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ w.exit_date | date:'dd/MM/yyyy' }}</td>
		                <td class="[ center-align ]">
		                	<a class="[ btn waves-effect red ]" href="#/authorize-withdrawal/{{ w.id }}"><i class="[ fa fa-outdent ]"></i></a>
		                	<button class="[ btn waves-effect red ]" ng-click="cancelWithdrawalRequest( w.id )"><i class="[ fa fa-times ]"></i></button>
		                </td>
		            </tr>
		        </tbody>
		    </table>  
		</div>
	</div>
</div>
