
<div class="row">
	<div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra ][ waves-effect ]" href="#/add-user"><i class="[ fa fa-users ][ left ]"></i>Agregar usuario Litobel</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra ][ waves-effect ]" href="#/add-project"><i class="[ fa fa-briefcase ][ left ]"></i>Agregar proyecto</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra ][ waves-effect ]" href="#/add-client"><i class="[ fa fa-briefcase ][ left ]"></i>Agregar cliente</a>
    </div>
    <div class="[ col m6 s12 ]"> 
        <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/check-in"><i class="[ fa fa-indent ][ left ]"></i>Dashboard Entradas</a>
    </div>
    <div class="[ col m6 s12 ]"> 
        <a class="[ col s12 ][ btn btn-extra red ][ waves-effect ]" href="#/check-out"><i class="[ fa fa-indent ][ left ]"></i>Dashboard Salidas</a>
    </div>
</div>

<div class="[ card-panel ][ mt-20 ]">
	<div class="[ row ]">
		<div class="[ col s12 m4 ]">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ totalInventory }}</span>
				<div class="name">Total de artículos en inventario</div>
			</div>
		</div>
		<div class="[ col s12 m4 ]">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ inventoryValue | currency : symbol : fractionSize }}</span>
				<div class="name">Valor estimado de inventario</div>
			</div>
		</div>
		<div class="[ col s12 m4 ]">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ currentRent | currency : symbol : fractionSize }}</span>
				<div class="name">Valor de renta hoy</div>
			</div>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="col s12 l7">
		<div class="card">
			<div class="title">
				<h5>Ocupación de espacio por mes</h5>
				<a class="close" href="#">
					<i class="mdi-content-clear"></i>
				</a>
				<a class="minimize" href="#">
					<i class="mdi-navigation-expand-less"></i>
				</a>
			</div>
			<div class="content">
				<flot dataset="monthlySpaceData" options="monthlySpaceOpts" style="display: block; height: 300px"></flot>
			</div>
		</div>
	</div>

	<div class="col s12 l5">
		<div class="card">
			<div class="title">
				<h5>Inventario por tipo</h5>
				<a class="close" href="#">
					<i class="mdi-content-clear"></i>
				</a>
				<a class="minimize" href="#">
					<i class="mdi-navigation-expand-less"></i>
				</a>
			</div>
			<div class="content">
				<flot dataset="costByItemTypeData" options="costByItemTypeOpts" style="display: block; height: 300px"></flot>
			</div>
		</div>
  	</div>
</div>

<div class="[ row ]">
    <div class="[ col s12 m6 ]">
		<div class="[ card-panel ]">
			<h4 class="[ center-align ]">Entradas programadas</h4>
			<table datatable="ng" dt-options="dtLatestEntriesOptions" dt-column-defs="dtLatestEntriesColumnDefs" class="row-border hover">
	            <thead>
		            <tr>
		                <th class="[ center-align ]">Entrada</th>
		                <th class="[ center-align ]">Nombre</th>
		                <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Fecha entrada</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="item in latestInventoryItems">
		                <td class="[ center-align ][ green lighten-3 ]"><i class="[ {{ getItemTypeIcon( item.actable_type ) }} ]"></i></td>
		                <td>{{ item.name }}</td>
		                <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ item.created_at | date:'dd/MM/yyyy' }}</td>
		            </tr>
		        </tbody>
	        </table>
		</div>
	</div>
	<div class="[ col s12 m6 ]">
		<div class="[ card-panel ]">
			<h4 class="[ center-align ]">Salidas programadas</h4>
			<table datatable="ng" dt-options="dtLatestEntriesOptions" dt-column-defs="dtLatestEntriesColumnDefs" class="row-border hover">
	            <thead>
		            <tr>
		                <th class="[ center-align ]">Salida</th>
		                <th class="[ center-align ]">Nombre</th>
		                <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Fecha salida</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="item in latestInventoryItems">
		                <td class="[ center-align ][ red lighten-3 ]"><i class="[ {{ getItemTypeIcon( item.actable_type ) }} ]"></i></td>
		                <td>{{ item.name }}</td>
		                <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ item.created_at | date:'dd/MM/yyyy' }}</td>
		            </tr>
		        </tbody>
	        </table>
		</div>
	</div>
</div>

<div class="[ row ]">
    <div class="[ col s12 ]">
		<div class="[ card-panel ]">
			<h4 class="[ center-align ]">Últimos movimientos</h4>
			<table datatable="ng" dt-options="dtLatestTransactionsOptions" dt-column-defs="dtLatestTransactionsColumnDefs" class="row-border hover">
	            <thead>
		            <tr>
		                <th class="[ center-align ]">Tipo</th>
		                <th class="[ center-align ]">Nombre</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Cantidad</th>
		                <th class="[ center-align ][ hide-on-med-and-down ]">Estatus</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Entregó / Recogió</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Fecha entrada / salida</th>
		                <!-- <th class="[ center-align ]">Ver</th> -->
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="it in inventoryTransactions">
		                <td class="[ center-align ][ {{ getTransactionTypeClass( it.actable_type ) }} ]"><i class="[ {{ getItemTypeIcon( it.inventory_item.actable_type ) }} ]"></i><span class="[ hide ]">{{ it.inventory_item.actable_type }}</span></td>
		                <td>{{ it.inventory_item.name }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ it.quantity }}</td>
		                <td class="[ center-align ][ hide-on-med-and-down ]">{{ it.inventory_item.status }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ it.deliver_pickup_contact }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ it.entry_exit_date | date:'dd/MM/yyyy' }}</td>
		                <!-- <td class="[ center-align ]"><a class="[ btn waves-effect ]" href="#/view-inventory-transaction/{{it.id}}"><i class="[ ion-eye ]"></i></a></td> -->
		            </tr>
		        </tbody>
	        </table>
		</div>
	</div>
</div>