
<div class="row">
	<h3 class="[ center-align ]">Atajos</h3>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/request-entry"><i class="[ fa fa-indent ][ left ]"></i>Solicitud de entrada</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra red ][ waves-effect ]" href="#/request-exit"><i class="[ fa fa-outdent ][ left ]"></i>Solicitud de salida</a>
    </div>
    <div class="[ col s12 m4 ]"> 
        <a class="[ col s12 ][ btn btn-extra ][ waves-effect ]" href="#/delivery-dashboard"><i class="[ fa fa-motorcycle ][ left ]"></i>Programar envío</a>
    </div>
</div>

<div class="[ card-panel ][ mt-20 ]">
	<div class="[ row ]">
		<h3 class="[ center-align ]">Estadísticas generales</h3>
		<div class="[ col s12 m4 ]" ng-if="3 == role">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ currentRent | currency : symbol : fractionSize }}</span>
				<div class="name">Tu renta estimada del día</div>
			</div>
		</div>
		<div class="[ col s12 m4 ]" ng-class="{'offset-m2': 2 == role }">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ numberProjects }}</span>
				<div class="name">Proyectos activos con inventario</div>
			</div>
		</div>
		<div class="[ col s12 m4 ]">
			<div class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
				<span class="[ count ]">{{ totalInventory }}</span>
				<div class="name">Total de artículos en tu inventario</div>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-if="3 == role">
	<div class="col s12 l6 offset-l3">
		<div class="card">
			<div class="title">
				<h5>Inventario por tipo</h5>
			</div>
			<div class="content">
				<flot dataset="inventoryByItemData" options="inventoryByItemOpts" style="display: block; height: 300px"></flot>
			</div>
		</div>
  	</div>
</div>

<div class="[ card-panel ]">
	<div class="[ row ]">
   	 	<div class="[ col s12  ]">
			<h4 class="[ center-align ]">Solicitudes de entrada pendientes</h4>
			<table datatable="ng" dt-options="dtPendingEntryRequestsOptions" dt-column-defs="dtPendingEntryRequestsColumnDefs" class="row-border hover">
		        <thead>
		            <tr>
		                <th class="[ center-align ]">Nombre</th>
		                <th class="[ center-align ][ hide-on-med-and-down ]">Proyecto</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Project Manager</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Ejecutivo de Cuenta</th>
		                <th class="[ center-align ][ hide-on-small-only ]">Fecha de entrada</th>
		                <th class="[ center-align ]">Cancelar</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="item in pendingInventoryItems">
		                <td>{{ item.name }}</td>
		                <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.project }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ item.pm }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ item.ae }}</td>
		                <td class="[ center-align ][ hide-on-small-only ]">{{ item.entry_date | date:'yyyy-MM-dd ' }}</td>
		                <td class="[ center-align ]">
		                	<button class="[ btn waves-effect red ]" ng-click="cancelEntryRequest( item.id )"><i class="[ fa fa-times ]"></i></button>
		                </td>
		            </tr>
		        </tbody>
		    </table>  
		</div>
	</div>
</div>
<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Solicitudes de salida</h4>
    
    <table datatable="ng" dt-options="dtPendingWithdrawalRequestsOptions" dt-column-defs="dtPendingWithdrawalRequestsColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th class="[ center-align ]">¿Quién solicita?</th>
                <th class="[ center-align ][ hide-on-med-and-down ]">Número de artículos</th>
                <th class="[ center-align ][ hide-on-small-only ]">Fecha de salida</th>
                <th class="[ center-align ]">Cancelar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="w in withdrawRequests">
                <td>{{ w.user.first_name + ' ' + w.user.last_name }}</td>
                <td class="[ center-align ][ hide-on-med-and-down ]">{{ w.withdraw_request_items.length }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ w.exit_date | date:'dd/MM/yyyy' }}</td>
                <td class="[ center-align ]">
                    <button class="[ btn waves-effect red ]" ng-click="cancelWithdrawalRequest( w.id )"><i class="[ fa fa-times ]"></i></button>
                </td>
            </tr>
        </tbody>
    </table>    
</div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Solicitudes de envío pendientes</h4>
    <table datatable="ng" dt-options="dtPendingDeliveryOptions" dt-column-defs="dtDeliveryColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th class="[ center-align ]">¿Quién solicita?</th>
                <th class="[ center-align ][ hide-on-med-and-down ]">Empresa donde se entrega</th>
                <th class="[ center-align ][ hide-on-med-and-down ]">Dirección</th>
                <th class="[ center-align ][ hide-on-small-only ]">Número de artículos</th>
                <th class="[ center-align ][ hide-on-small-only ]">Fecha de entrega solicitada</th>
                <th class="[ center-align ]">Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in pendingDeliveries">
                <td class="[ center-align ]">{{ d.user.first_name + ' ' + d.user.last_name }}</td>
                <td class="[ center-align ][ hide-on-med-and-down ]">{{ d.company }}</td>
                <td class="[ center-align ][ hide-on-med-and-down ]">{{ d.address }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ d.delivery_request_items.length }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ d.date_time | date:'dd/MM/yyyy' }}</td>
                <td class="[ center-align ]"><a class="[ btn waves-effect green ]" href="#/view-delivery-request/{{ d.id }}"><i class="[ fa fa-eye ]"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>