<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <div class="[ row ]" ng-if="1 == role || 4 == role">
        <div class="[ col m4 s12 ]"> 
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/add-unit-item"><i class="[ fa fa-indent ][ left ]"></i>Unitaria</a>
        </div>
        <div class="[ col m4 s12 ]"> 
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/add-bundle-item"><i class="[ fa fa-indent ][ left ]"></i>Paquete</a>
        </div>
        <div class="[ col m4 s12 ]"> 
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/add-bulk-item"><i class="[ fa fa-indent ][ left ]"></i>Granel</a>
        </div>
        <div class="col m4 s12 "> 
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/re-entry/0"><i class="[ ion-arrow-return-right ][ left ]"></i>Reingresos</a>
        </div>
        <div class="col m4 s12"> 
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/pending-entry-requests"><i class="[ fa fa-hand-o-up ][ left ]"></i>Solicitudes de entrada</a>
        </div>
        <div class="[ col s12 m4 ]" ng-if="1 == role"> 
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/validate-entries"><i class="[ fa fa-check ][ left ]"></i>Validar entradas</a>
        </div>
    </div>
    <div class="[ row ]" ng-if="2 == role || 3 == role">
        <div class="[ col s12 m4 offset-m2 ]"> 
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/request-entry"><i class="[ fa fa-indent ][ left ]"></i>Solicitud de entrada</a>
        </div>
        <div class="[ col s12 m4 ]"> 
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/validate-entries"><i class="[ ion-arrow-return-right ][ left ]"></i>Validar entradas</a>
        </div>
    </div>
</div>

<div class="[ card-panel ]">
    <div>
      <p>Tipo de entradas:</p>
      <p><i class="[ fa fa-square ]"></i> Unitaria - <i class="[ fa fa-th-large ]"></i> Paquete - <i class="[ fa fa-align-justify ]"></i> Granel</p>
    </div>
    <h4 class="[ center-align ]">Últimos artículos ingresados</h4>
    
    <table datatable="ng" dt-options="dtLatestEntriesOptions" dt-column-defs="dtLatestEntriesColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th class="[ center-align ]"></th>
                <th class="[ hide-on-small-only ]"></th>
                <th class="[ center-align ]">Nombre</th>
                <th class="[ center-align ][ hide-on-small-only ]">Cantidad</th>
                <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
                <!-- <th class="[ center-align ][ hide-on-small-only ]">Vigencia</th> -->
                <th class="[ center-align ][ hide-on-small-only ]">Fecha de entrada</th>
                <th class="[ center-align ][ hide-on-small-only ]">Fecha de entrada</th>
                <th class="[ center-align ][ hide-on-small-only ]">Rack / Ubicaciones</th>
                <th class="[ center-align ]" ng-show="( role == 1 )">Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in latestInventoryItems" id="{{ item.id }}">
                <td class="[ center-align ]"><i class="[ {{ getItemTypeIcon( item.actable_type ) }} ]"></i></td>
                <td class="[ hide-on-small-only ]"><img src="{{ item.img }}" alt=""></td>
                <td>{{ item.name }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ item.quantity }}</td>
                <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
                <!-- <td class="[ center-align ][ hide-on-small-only ]">{{ item.validity_expiration_date | date:'dd/MM/yyyy' }}</td> -->
                <td class="[ center-align ][ hide-on-small-only ]">{{ item.created_at | date:'yyyy-MM-dd h:mm:ss a' }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ item.created_at | date:'dd/MM/yyyy h:mm:ss a' }}</td>
                <td class="[ center-align ][ hide-on-small-only ][ js-location-links ]">{{ getRackLocationLink( item.id, item.locations ) }}</td>
                <td class="[ center-align ]" ng-show="( role == 1 )"><a class="[ btn waves-effect ]" href="#/view-item/{{item.id}}"><i class="[ fa fa-eye ]"></i></a></td>
            </tr>
        </tbody>
    </table>
    <div class="[ center-align ]">
        <a class="[ btn waves-effect ]" href="#/view-item"><i class="[ fa fa-eye ][ left ]"></i> Ver mas</a>
    </div>
</div>



