<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <div class="[ row ]" ng-if="1 == role || 4 == role">
        <!-- <div class="[ col s12 m6 l4 ]">
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/add-unit-item"><i class="[ fa fa-indent ][ left ]"></i>Unitaria</a>
        </div>
        <div class="[ col s12 m6 l4 ]">
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/add-bundle-item"><i class="[ fa fa-indent ][ left ]"></i>Paquete</a>
        </div> -->
        <div class="[ col s12 m6 l4 offset-l2 ]">
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/add-bulk-item"><i class="[ fa fa-indent ][ left ]"></i>Entrada</a>
        </div>
        <div class="[ col s12 m6 l4 ]">
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/re-entry/0"><i class="[ ion-arrow-return-right ][ left ]"></i>Reingresos</a>
        </div>
        <div class="[ clear ]"></div>
        <div class="[ col s12 m6 l4 offset-l2 ]">
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/pending-entry-requests"><i class="[ fa fa-hand-o-up ][ left ]"></i>Solicitudes de entrada</a>
        </div>
        <div class="[ col s12 m6 l4 ]" ng-if="1 == role">
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/validate-entries"><i class="[ fa fa-check ][ left ]"></i>Validar entradas</a>
        </div>
    </div>
    <div class="[ row ]" ng-if="2 == role || 3 == role">
        <div class="[ col s12 m4 offset-m2 ]">
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/request-entry"><i class="[ fa fa-indent ][ left ]"></i>Solicitud de entrada</a>
        </div>
        <div class="[ col s12 m4 ]">
            <a class="[ col s12 ][ btn btn-extra green ][ waves-effect ]" href="#/validate-entries"><i class="[ ion-arrow-return-right ][ left ]"></i>Validar entradas</a>
        </div>
    </div>
</div>

<div class="[ card-panel ]" ng-if="2 == role || 3 == role">
    <div class="[ row ]">
        <div class="[ col s12  ]">
            <h4 class="[ center-align ]">Solicitudes de entrada pendientes</h4>
            <table datatable="ng" dt-options="dtPendingEntryRequestsOptions" dt-column-defs="dtPendingEntryRequestsColumnDefs" class="row-border hover">
                <thead>
                    <tr>
                        <th class="[ center-align ]">Nombre</th>
                        <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
                        <th class="[ center-align ][ hide-on-med-and-down ]">Proyecto</th>
                        <th class="[ center-align ][ hide-on-small-only ]">Project Manager</th>
                        <th class="[ center-align ][ hide-on-small-only ]">Ejecutivo de Cuenta</th>
                        <th class="[ center-align ][ hide-on-small-only ]">Fecha de entrada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in pendingInventoryItems">
                        <td>
                            <a href="#/view-item/{{ item.id }}">{{ item.name }}</a>
                        </td>
                        <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
                        <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.project }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ item.pm }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ item.ae }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ item.entry_date | date:'yyyy-MM-dd h:mm:ss a' }}</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
</div>

<div class="[ card-panel ]">
    <div class="[ row ]">
        <div class="[ col s12 ]">
            <h4 class="[ center-align ]">Últimos artículos ingresados</h4>
        
            <table datatable="ng" dt-options="dtLatestEntriesOptions" dt-column-defs="dtLatestEntriesColumnDefs" class="row-border col s12 hover">
                <thead>
                    <tr>
                        <th class="[ hide-on-small-and-down ]"></th>
                        <th class="[ center-align ]">Nombre</th>
                        <th class="[ center-align ][ hide-on-small-only ]">Cantidad</th>
                        <th class="[ center-align ][ hide-on-med-and-down ]">Número de serie</th>
                        <th class="[ center-align ][ hide-on-small-only ]">Fecha de entrada</th>
                        <th class="[ center-align ][ hide-on-med-and-down ]">Rack / Ubicaciones</th>
                        <th class="[ center-align ]" ng-show="( role == 1 )">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="latest in latestInventoryItems" id="{{ latest.item.id }}">
                        <td class="[ hide-on-small-and-down ]"><img ng-src="{{ latest.item.image_url }}" alt=""></td>
                        <td>
                            <a href="#/view-item/{{ latest.item.id }}">{{ latest.item.name }}</a>
                        </td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ latest.item.quantity }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ latest.item.serial_number }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ latest.item.created_at | date:'yyyy-MM-dd h:mm:ss a' }}</td>
                        <td class="[ center-align ][ hide-on-med-and-down ][ js-location-links ]">{{ getRackLocationLink( latest.item.id, latest.locations ) }}</td>
                        <td class="[ center-align ]" ng-show="( role == 1 )"><a class="[ btn waves-effect ]" href="#/view-item/{{latest.item.id}}"><i class="[ fa fa-eye ]"></i></a></td>
                    </tr>
                </tbody>
            </table>
<!--             <div class="[ center-align ]">
                <a class="[ btn waves-effect ]" href="#/view-item"><i class="[ fa fa-eye ][ left ]"></i> Ver mas</a>
            </div> -->
        </div>
    </div>
</div>
