<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]" ng-include src="'inventory-item/templates/edit-unit-item.html'" ng-if="'UnitItem'==item.actable_type"></div>
<div class="[ card-panel ]" ng-include src="'inventory-item/templates/edit-bulk-item.html'" ng-if="'BulkItem'==item.actable_type"></div>
<div class="[ card-panel ]" ng-include src="'inventory-item/templates/edit-bundle-item.html'" ng-if="'BundleItem'==item.actable_type"></div>






