<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<!-- <div class="[ card ]">
    <div class="[ alert alert-border-left ]">
        <strong>PENDIENTE:</strong>
        <ol>
            <li>Resumen por entrada paquete</li>
            <li>Opción para retirar partes paquete</li>
            <li>Agregar animación "cargando" en producción</li>
        </ol>
    </div>
</div> -->

<div class="[ card ]" ng-show="!isSummary">
    <div class="[ row ]">
        <div class="[ title ]">
            <h3>Salida express</h3>
        </div>
        <div class="content">
            <p>Busca un artículo escaneando el código de barras:</p>
            <form ng-submit="searchByBarcode()" data-parsley-validate >
                <div class="[ col s8 m6 offset-m2 ][ input-field ]">
                    <input id="[ barcode ]" type="text" ng-model="barcode" required data-parsley-error-message="Código inválido.">
                    <label for="[ barcode ]"></label>
                </div>
                <div class="[ col s4 m2 ][ input-field ]">
                    <button class="[ waves-effect ][ btn ]"><i class="[ mdi-action-search ][ left ]"></i> Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="[ card-panel ]" ng-show="hasItem">
    
    <div class="[ row ]" ng-show="!isSummary">
        <div class="[ col s12 ][ mt-10 ]"> 
            <div class="[ row ]">
                <div class="[ col s12 m9 ]"> 
                    <div class="input-field">
                        <input id="input_text" type="text" name="project" ng-model="item.name" ng-readonly="true">
                        <label for="textarea1">Nombre</label>
                    </div>
                    <div class="input-field">
                        <input id="input_text" type="text" name="project" ng-model="item.item_type" ng-readonly="true">
                        <label for="textarea1">Tipo de mercancía</label>
                    </div>
                </div>
                <div class="[ col s12 m3 ][ center-align ][ item ]"> 
                    <div class="[ card ]">
                        <div class="[ card-image ][ img-mercancia ]">
                            <img ng-src="{{item.img}}" alt="{{item.name}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="input_text" type="text" name="project" ng-model="item.project" ng-readonly="true">
                <label for="input_text">Proyecto</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="input-field">
                <input id="input_text" type="text" name="ae" ng-model="item.ae" ng-readonly="true">
                <label for="input_text">Ejecutivo de cuenta</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]"> 
            <div class="input-field">
                <input id="input_text" type="text" name="clientName" ng-model="item.client" disabled>
                <label for="input_disabled">Cliente</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]"> 
            <div class="input-field">
                <input id="input_disabled" type="text" name="clientContact" ng-model="item.client_contact" disabled>
                <label for="input_disabled">Contacto cliente</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]" ng-hide="1"> 
            <div class="input-field">
                <input id="input_text" type="text" name="serialNumber" ng-model="item.serial_number" ng-readonly="true">
                <label for="input_text">Número de serie</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]" ng-hide="1"> 
            <div class="input-field">
                <input id="input_text" type="text" name="brand" ng-model="brand" disabled>
                <label for="input_text">Marca</label>
            </div>
        </div>
        <div class="[ col s12 m6 ]" ng-hide="1"> 
            <div class="input-field">
                <input id="input_text" type="text" name="model" ng-model="model" disabled>
                <label for="input_text">Modelo</label>
            </div>
        </div>
        <div class="[ col s12 ]"> 
            <div class="input-field">
                <textarea class="materialize-textarea" name="description" ng-model="item.description" disabled></textarea>
                <label for="textarea1">Descripción</label>
            </div>
        </div>
    </div>

    <div class="[ row ]">
        <div ng-include src="'inventory-item/templates/express-withdraw-bulk-item.html'" ng-if="item.actable_type == 'BulkItem'">
        </div>
        <div ng-include src="'inventory-item/templates/express-withdraw-bundle-item.html'" ng-if="item.actable_type == 'BundleItem'">
        </div>
        <div ng-include src="'inventory-item/templates/express-withdraw-unit-item.html'" ng-if="item.actable_type == 'UnitItem'">
        </div>
    </div>
    
</div>

<script>
    $('[data-parsley-validate]').parsley();      
</script>



