<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Mi inventario </h4>
    <div class="[ row ]">
        <p>Buscar un artículo en inventario:</p>
        <form ng-submit="searchItem()">
            <div class="[ col s12 m4 ][ input-field ]">
                <input id="keyword" type="text" ng-model="keyword">
                <label for="[ keyword ]">Palabras clave</label>
            </div>
            <div class="[ col s12 m4 ][ input-field ]">
                <input id="serialNumber" type="text" ng-model="serialNumber">
                <label for="serialNumber">Número de serie</label>
            </div>
            <div class="[ col s12 m4 ][ mt-10 ]" ng-show="role==1 || role ==4">
                <select name="project" ng-model="selectedProject">
                    <option value="" selected disabled>Proyecto</option>
                    <option value="">Todos</option>
                    <option ng:repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
                </select>
            </div>
            <div class="[ clear ]" ></div>
            <div class="[ col s12 m4 ][ mt-10 ]" ng-hide="role !== 1 && role !== 4">
                <select name="pm" ng-model="selectedPM">
                    <option value="" disabled selected>Project Manager</option>
                    <option value="">Todos</option>
                    <option ng:repeat="user in projectManagers" value="{{user.id}}">{{user.first_name + ' ' + user.last_name}}</option>
                </select>
            </div>
            <div class="[ col s12 m4 ][ mt-10 ]" ng-hide="role !== 1 && role !== 4">
                <select name="pm" ng-model="selectedAE">
                    <option value="" disabled selected>Ejecutivo de cuenta</option>
                    <option value="">Todos</option>
                    <option ng:repeat="user in accountExecutives" value="{{user.id}}">{{user.first_name + ' ' + user.last_name}}</option>
                </select>
            </div>
            <div class="[ col s12 m4 ][ mt-10 ]" ng-hide="role !== 1">
                <select name="pm" ng-model="selectedClient" ng-hide="role !== 1 && role !== 4">
                    <option value="" disabled selected>Clientes</option>
                    <option value="">Todos</option>
                    <option ng:repeat="user in clientContacts" value="{{user.id}}">{{user.first_name + ' ' + user.last_name}}</option>
                </select>
            </div>
            <div class="[ col s12 m4 ][ mt-10 ]">
                <select name="itemType" ng-model="itemType">
                    <option value="" selected disabled>Tipo de mercancía</option>
                    <option value="">Todos</option>
                    <option ng-repeat="value in ['Laptop', 'Desktop', 'Impresora', 'Celular', 'Pantalla', 'POP', 'POS', 'Promocional', 'Mobiliario', 'Perecedero', 'Dispositivos de red']" value="{{value}}">{{value}}</option>
                </select>
            </div>
            <div class="[ col s12 m4 ][ mt-10 ]">
                <select name="project" ng-model="selectedStatus">
                    <option value="" selected disabled>Estatus</option>
                    <option value="">Todos</option>
                    <option ng:repeat="status in statuses" value="{{status.id}}">{{status.name}}</option>
                </select>
            </div>
            <div class="[ col s12 m4 ][ mt-10 ]"> 
                <select name="storageType" ng-model="storageType">
                    <option value="" disabled selected>Tipo de almacenaje</option>
                    <option value="">Todos</option>
                    <option ng-repeat="value in ['Permanente', 'Temporal', 'Donación']" value="{{value}}">{{value}}</option>
                </select>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 ][ center-align  ]">
                <button class="[ waves-effect ][ btn ]"><i class="[ mdi-action-search ][ left ]"></i> Buscar</button>
            </div>
        </form>
    </div>
    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th class="[ center-align ]"></th>
                <th class="[ center-align ]">Nombre</th>
                <th class="[ center-align ][ hide-on-med-and-down ]">Número de serie</th>
                <th class="[ center-align ]">Cantidad</th>
                <th class="[ center-align ][ hide-on-small-only ]">Ubicaciones</th>
                <th class="[ center-align ]">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in inventoryItems">
                <td><img ng-src="{{ i.inventory_item.img }}" alt=""></td>
                <td>{{ i.inventory_item.name + ' ' + i.inventory_item.model  }}</td>
                <td class="[ center-align ][ hide-on-med-and-down ]">{{ i.inventory_item.serial_number }}</td>
                <td class="[ center-align ]">{{ i.inventory_item.quantity }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">
                    <p ng-if="i.inventory_item.locations.length == 0 || role == 6">-</p>
                    <div ng-repeat="loc in i.inventory_item.locations" ng-if="role != 6">
                        <a href="#/view-location/{{loc.location_id}}" >{{loc.location}}</a>
                    </div>
                </td>
                <td class="[ center-align ]">
                    <div ng-if="i.inventory_item.status == 1">
                        <a class="[ btn waves-effect ]" href="#/view-item/{{i.inventory_item.id}}"><i class="[ fa fa-eye ]"></i></a>
                        <a class="[ btn waves-effect red ]" href="#/withdraw-item/{{i.inventory_item.id}}" ng-show="1 == role || 4 == role"><i class="[ fa fa-outdent ]"></i></a>
                        <a class="[ btn waves-effect green ]" href="#/re-entry/{{i.inventory_item.barcode}}" ng-if="'BulkItem' == i.inventory_item.actable_type" ng-show="1 == role || 4 == role"><i class="[ fa fa-indent ]"></i></a>
                    </div>
                    <div ng-if="( i.inventory_item.status == 3 )">
                        <a class="[ btn waves-effect ]" href="#/view-item/{{i.inventory_item.id}}"><i class="[ fa fa-eye ]"></i></a>
                        <a class="[ btn waves-effect green ]" href="#/re-entry/{{i.inventory_item.barcode}}" ng-show="1 == role || 4 == role"><i class="[ fa fa-indent ]"></i></a>
                        <a class="[ btn waves-effect red ]" href="#/withdraw-item/{{i.inventory_item.id}}"><i class="[ fa fa-outdent ]" ng-show="1 == role || 4 == role"></i></a>
                    </div>
                    <div ng-if="( i.inventory_item.status == 2 )">
                        <a class="[ btn waves-effect ]" href="#/view-item/{{i.inventory_item.id}}"><i class="[ fa fa-eye ]"></i></a>
                        <a class="[ btn waves-effect green ]" href="#/re-entry/{{i.inventory_item.barcode}}" ng-show="1 == role || 4 == role" ng-show="1 == role || 4 == role"><i class="[ fa fa-indent ]"></i></a>
                    </div>
                    <div ng-if="( i.inventory_item.status == 4 || i.inventory_item.status == 5 || i.inventory_item.status == 6  )">
                        <a class="[ btn waves-effect ]" href="#/view-item/{{i.inventory_item.id}}"><i class="[ fa fa-eye ]"></i></a>
                    </div>
                    <div ng-if="( i.inventory_item.status == 7 )">
                        <a class="[ btn waves-effect ]" href="#/view-item/{{i.inventory_item.id}}"><i class="[ fa fa-eye ]"></i></a>
                        <a class="[ btn waves-effect ]" href="#/validate-entry/{{i.inventory_item.id}}" ng-show="1 == role || 4 == role"><i class="[ fa fa-check ]"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>





