<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Solicitudes de salida</h4>
    
    <table datatable="ng" dt-options="dtPendingWithdrawalRequestsOptions" dt-column-defs="dtPendingWithdrawalRequestsColumnDefs" class="row-border hover">
        <thead>
            <tr>
                <th class="[ center-align ]">¿Quién solicita?</th>
                <th class="[ center-align ][ hide-on-med-and-down ]">Número de artículos</th>
                <th class="[ center-align ][ hide-on-small-only ]">Fecha de salida</th>
                <th class="[ center-align ]">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="w in withdrawRequests">
                <td>{{ w.user.first_name + ' ' + w.user.last_name }}</td>
                <td class="[ center-align ][ hide-on-med-and-down ]">{{ w.withdraw_request_items.length }}</td>
                <td class="[ center-align ][ hide-on-small-only ]">{{ w.exit_date | date:'dd/MM/yyyy' }}</td>
                <td class="[ center-align ]">
                    <a class="[ btn waves-effect red ]" href="#/authorize-withdrawal/{{ w.id }}"><i class="[ fa fa-outdent ]"></i></a>
                    <button class="[ btn waves-effect red ]" ng-click="cancelWithdrawalRequest( w.id )"><i class="[ fa fa-times ]"></i></button>
                </td>
            </tr>
        </tbody>
    </table>    
    <div class="clear"></div>
    <div class="[ row ]" ng-if="2 == role || 3 == role">
        <div class="[ col s12 m4 offset-m4 ]"> 
            <a class="[ col s12 ][ btn btn-extra red ][ waves-effect ]" href="#/request-exit"><i class="[ fa fa-outdent ][ left ]"></i>Crear solicitud de salida</a>
        </div>
    </div>
</div>
