<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card ]" ng-show="!hasBarcode">
    <div class="[ row ]">
        <div class="[ title ]">
            <h3>Reingreso</h3>
        </div>
        <div class="content">
            <p>Busca un artículo escaneando el código de barras:</p>
            <form ng-submit="searchByBarcode( barcode )" data-parsley-validate >
                <div class="[ col s8 m7 offset-m2 ][ input-field ]">
                    <input id="[ barcode ]" type="text" ng-model="barcode" required data-parsley-error-message="Código inválido.">
                    <label for="[ barcode ]"></label>
                </div>
                <div class="[ col s4 m3 ][ input-field ]">
                    <button class="[ waves-effect ][ btn ]"><i class="[ mdi-action-search ][ left ]"></i> Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="[ card-panel ]" ng-show="hasItem">
    
    <div class="[ row ]">
        <div class="[ col s12 ][ mt-10 ]"> 
            <div class="[ row ]">
                <div class="[ col s12 m5 ][ center-align ][ item ]"> 
                    <div class="[ card ]">
                        <div class="[ card-image ][ img-mercancia ]">
                            <img ng-src="{{item.img}}" alt="{{item.name}}">
                        </div>
                    </div>
                </div>
                <div class="[ col s12 m7 ]"> 
                    <div class="input-field">
                        <input id="input_text" type="text" name="project" ng-model="item.name" ng-readonly="true">
                        <label for="textarea1">Nombre</label>
                    </div>
                    <div class="input-field">
                        <input id="input_text" type="text" name="serialNumber" ng-model="item.serial_number" ng-readonly="true">
                        <label for="input_text">Número de serie</label>
                    </div>
                    <div class="input-field">
                        <input id="project" type="text" name="project" ng-model="item.project" ng-readonly="true">
                        <label for="project">Proyecto</label>
                    </div>
                    <div class="input-field">
                        <input id="input_text" type="text" name="clientName" ng-model="item.client.name" disabled>
                        <label for="input_disabled">Cliente</label>
                    </div>
                </div>
            </div>
        </div>
        <form ng-submit="reEntry()" data-parsley-bulk>
            <div class="[ col s12 m6 ][ mt-10 ]"> 
                <select name="deliveryCompany" ng-model="deliveryCompany" required data-parsley-error-message="¡El proveedor es obligatorio!">
                    <option value="" disabled selected>Selecciona el proveedor</option>
                    <option ng:repeat="supplier in suppliers" value="{{supplier.id}}">{{supplier.name}}</option>
                </select>
            </div>
            <div class="[ col s12 m6 ]"> 
                <div class="input-field">
                    <input id="delivery-contact-bulk" type="text" name="deliveryCompanyContact" ng-model="deliveryCompanyContact" required>
                    <label for="delivery-contact-bulk">¿Quién entregó?</label>
                </div>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 m6 ]">    
                <label class="[ fs-12 ]" for="">Fecha de entrada (mm/dd/aaaa)</label>
                <input class="datepicker" type="date" name="entryDate" ng-model="entryDate" required>
            </div>
            <div class="[ col s12 m6 ][ mt-10 ]"> 
                <select name="itemState" ng-model="itemState" required>
                    <option value="" selected disabled>Estado</option>
                    <option value="2">Como nuevo</option>
                    <option value="3">Usado</option>
                    <option value="4">Dañado</option>
                    <option value="5">Incompleto</option>
                    <option value="6">Necesita mantenimiento</option>
                    <option value="7">Buen estado</option>
                    <option value="8">Muestras</option>
                    <option value="9">Caja vacía</option>
                </select>
            </div>
            <div class="[ col s12 ]"> 
                <div class="input-field">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="additionalComments"></textarea>
                    <label for="textarea1">Observaciones adicionales</label>
                </div>
            </div>
            <div class="[ col s4 m4 offset-m1 ]"> 
                <div class="input-field">
                    <input id="item-quantity" type="text" name="item.quantity" ng-model="item.quantity" ng-readonly="true">
                    <label for="item-quantity">Cantidad actual</label>
                </div>
            </div>
            <div class="[ col s4 m4 ]"> 
                <div class="input-field">
                    <input id="withdraw-quantity" type="number" name="quantity" ng-model="quantity" required data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-min-message="El valor deber ser mayor que 0." min="1">
                    <label for="withdraw-quantity">Cantidad a reingresar</label>
                </div>
            </div>
            <div class="[ col s4 m2 ]"> 
                <button class="[ waves-effect ][ btn red ]" ng-disabled="isLoading">Reingresar</button>
            </div>
        </form>
    </div>
    
</div>

<script>
    $('[data-parsley-validate]').parsley();    
    $('[data-parsley-bulk]').parsley();     
</script>



