<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">

    <h4 class="[ center-align ]">Solicitud de salida</h4>
    <div class="[ row ]">
        <form name="entry_form" class="[ mt-40 ][ left-align ]" ng-submit="requestWithdrawal()" data-parsley-entry>
            <div class="[ col s12 m5 offset-m1 ][ mt-20 ]"> 
                <select name="pickupCompany" ng-model="pickupCompany" required data-parsley-error-message="¡El proveedor es obligatorio!">
                    <option value="" disabled selected>Selecciona el proveedor</option>
                    <option ng:repeat="supplier in suppliers" value="{{supplier.id}}">{{supplier.name}}</option>
                </select>
            </div>
            <div class="[ col s12 m5  ]">    
                <label class="[ fs-12 ]" for="">Fecha de salida (mm/dd/aaaa)</label>
                <input class="datepicker" type="date" name="exitDate" ng-model="exitDate" required>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 ]"> 
                <h4 class="[ center-align ]">Artículos a retirar</h4>
                <div class="[ withdraw-items-titles ][ row ]">
                    <p class="[ col s12 m3 ]">Nombre</p>
                    <p class="[ col s12 m5 ]">Número de serie</p>
                    <p class="[ col s12 m2 ]">Cantidad</p>
                    <p class="[ col s12 m2 ]">Eliminar</p>
                </div>
                <div class="[ js-added-items ][ row ]">
                    
                </div>
            </div>
            <div class="[ col s12 ]"> 
                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]" >Solicitar salida</button>
                </div>
            </div>
            <div class="[ clear ]"></div>
            <table datatable="ng" dt-options="dtMultipleWithdrawalOptions" dt-column-defs="dtMultipleWithdrawalColumnDefs" class="[ row-border hover ]" >
                <thead>
                    <tr>
                        <th class="[ center-align ]">Tipo</th>
                        <th class="[ center-align ]"></th>
                        <th class="[ center-align ]">Nombre</th>
                        <th class="[ center-align ]">Número de serie</th>
                        <th class="[ center-align ]">Código de barras</th>
                        <th class="[ center-align ][ hide-on-small-only ]">Vigencia / Caducidad</th>
                        <th class="[ center-align ]">Cantidad a retirar</th>
                        <th class="[ center-align ]">¿Sacar?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in inventoryItems" id="{{ i.id }}">
                        <td class="[ center-align ]"><i class="[ {{ getItemTypeIcon( i.actable_type ) }} ]"></i></td>
                        <td><img ng-src="{{ i.img }}" alt="{{i.name}}"></td>
                        <td class="[ center-align ]" id="name-{{i.id}}">{{ i.name }}</td>
                        <td class="[ center-align ]" id="serial-number-{{i.id}}">{{ i.serial_number }}</td>
                        <td class="[ center-align ]">{{ i.barcode }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ i.validity_expiration_date | date:'dd/MM/yyyy' }}</td>
                        <td class="[ center-align ]">
                            <div class="[ input-field ]">
                                <input type="text" id="quantity-{{i.id}}" value="{{ i.quantity }}" name="item_quantity" ng-readonly="'BulkItem' != i.actable_type" />
                                <label for="quantity-{{i.id}}"></label>
                            </div>
                        </td>
                        <td class="[ center-align ]">
                            <div class="[ input-field ]">
                                <input class="[ filled-in ]" type="checkbox" id="check-{{i.id}}" value="{{i.id}}" name="item_id" />
                                <label for="check-{{i.id}}"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div><!-- row -->
</div><!-- step 1 Captura -->

<script>
  $('[data-parsley-entry]').parsley();
</script>





