<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <div class="row">
        <div class="[ col s12 ]">
            <h4 class="[ center-align ]">Validar entradas</h4>
            <table datatable="ng" dt-options="dtPendingValidationEntriesOptions" dt-column-defs="dtPendingValidationEntriesColumnDefs" class="row-border hover">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th class="[ center-align ]">Nombre</th>
                        <th class="[ center-align ][ hide-on-med-and-down ]">Tipo de mercancía</th>
                        <th class="[ center-align ][ hide-on-med-and-down ]">Proyecto</th>
                        <th class="[ center-align ][ hide-on-small-only ]">Cliente</th>
                        <th class="[ center-align ][ hide-on-small-only ]">¿Quién solicita entrada?</th>
                        <th class="[ center-align ]">Validar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in inventoryItems" id="{{item.id}}">
                        <td class="[ js-item-img ]">{{ appendItemImg( item.id, item.item_img_thumb, item.name ) }}</td>
                        <td>{{ item.name }}</td>
                        <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.item_type }}</td>
                        <td class="[ center-align ][ hide-on-med-and-down ]">{{ item.project_data.name }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ item.project_data.client }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ item.owner }}</td>
                        <td class="[ center-align ]">
                            <button class="[ btn waves-effect green ]" ng-click="validateEntry( item.id )"><i class="[ fa fa-check ]"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
</div>