<div class="[ card-panel ]">
    <div class="[ row ]">
        <h4 class="[ center-align ]">Salida masiva</h4>
         <form class="[ col s12 ]" ng-submit="multipleWithdrawal()" data-parsley-validate>
            <table datatable="ng" dt-options="dtMultipleWithdrawalOptions" dt-column-defs="dtMultipleWithdrawalColumnDefs" class="row-border hover">
                <thead>
                    <tr>
                        <th class="[ center-align ]">Tipo</th>
                        <th class="[ center-align ]"></th>
                        <th class="[ center-align ]">Nombre</th>
                        <th class="[ center-align ]">Tipo de mercancía</th>
                        <th class="[ center-align ][ hide-on-small-only ]">Vigencia / Caducidad</th>
                        <th class="[ center-align ]">Cantidad a retirar</th>
                        <th class="[ center-align ]">¿Sacar?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in inventoryItems" id="{{ i.id }}">
                        <td class="[ center-align ]"><i class="[ {{ getItemTypeIcon( i.actable_type ) }} ]"></i></td>
                        <td><img src="{{ i.img }}" alt="{{i.name}}"></td>
                        <td>{{ i.name }}</td>
                        <td class="[ center-align ]">{{ i.item_type }}</td>
                        <td class="[ center-align ][ hide-on-small-only ]">{{ i.validity_expiration_date | date:'dd/MM/yyyy' }}</td>
                        <td class="[ center-align ]">
                            <div class="[ input-field ]">
                                <input type="text" id="quantity-{{i.id}}" value="{{ i.quantity }}" name="item_quantity" ng-readonly="'BulkItem' != i.actable_type" />
                                <label for="quantity-{{i.id}}"></label>
                            </div>
                        </td>
                        <td class="[ center-align ]">
                            <div class="[ input-field ]">
                                <input class="[ filled-in ]" type="checkbox" id="check-{{i.id}}" value="{{i.id}}" name="item_id" />
                                <label for="check-{{i.id}}"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="[ clear ]"></div>
            <div class="[ col s12 m6 ][ mt-10 ]"> 
                <select name="pickupCompany" ng-model="pickupCompany" required data-parsley-error-message="¡El proveedor es obligatorio!">
                    <option value="" disabled selected>Selecciona el proveedor</option>
                    <option ng:repeat="supplier in suppliers" value="{{supplier.id}}">{{supplier.name}}</option>
                </select>
            </div>
            <div class="[ col s12 m6 ]"> 
                <div class="input-field">
                    <input id="pickup-contact-unit" type="text" name="pickupCompanyContact" ng-model="pickupCompanyContact">
                    <label for="pickup-contact-unit">¿Quién se lo lleva?</label>
                </div>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 m6 ]">    
                <label class="[ fs-12 ]" for="">Fecha de salida (mm/dd/aaaa)</label>
                <input class="datepicker" type="date" name="exitDate" ng-model="exitDate" required>
            </div>
            <div class="[ col s12 m6 ]">    
                <label class="[ fs-12 ]" for="">Fecha estimada de retorno (mm/dd/aaaa)</label>
                <input class="datepicker" type="date" ng-model="returnDate">
            </div>
            <div class="[ col s12 ]"> 
                <div class="input-field">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="additionalComments"></textarea>
                    <label for="textarea1">Observaciones adicionales</label>
                </div>
            </div>
            <div class="[ col s12 ][ center-align ]" >
                <button class="[ waves-effect ][ btn red ]">Dar salida</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('[data-parsley-validate]').parsley();    
</script>
