<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>


<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Editar proyecto</h4>
    <div class="[ row ]">
        <form name="entry_form" class="[ mt-40 ][ left-align ]" ng-submit="update()" data-parsley-validate>
            <div class="[ col s12 m6 l4 offset-l2 ]"> 
                <div class="input-field">
                    <input type="text" id="litobelId" ng-model="project.litobel_id" required>
                    <label for="litobelId">Clave de proyecto Litobel</label>
                </div>
            </div>
            <div class="[ col s12 m6 l4 ]"> 
                <div class="input-field">
                    <input type="text" id="projectName" ng-model="project.name" required>
                    <label for="projectName">Nombre del proyecto</label>
                </div>
            </div>
            <div class="[ col s12 ]"> 
                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]">editar</button>
                    <a class="[ waves-effect ][ btn red ]" ng-click="destroyProject(project.id)">eliminar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="[ mt-20 ]" ng-include src="'project/templates/project-users.html'"></div>

<script>
  $('[data-parsley-validate]').parsley();
</script>





