<div class="[ card-panel ]">
  <div class="[ row ]" ng-show="!isSummary">
		<h3 class="[ center-align ]">Transferir inventario</h3>
		<div class="[ col s12 m8 offset-m2 l6 offset-l3 ]">
			Selecciona el proyecto al que quieres transferir inventario. Si deseas hacer una transferencia parcial, selecciona la casilla y escoge manualmente los artículos que deseas transferir.
		</div>
		<div class="[ clear ]"></div>
		<div class="[ col s12 m8 offset-m2 l6 offset-l3 ][ mt-10 ]">
			<h4>Proyecto fuente: {{ project.name }}</h4>
		</div>
		<div class="[ clear ]"></div>
		<div class="[ col s12 m4 offset-m2 l6 offset-l3 ][ mt-10 ]">
			<select name="destinationProject" ng-model="destinationProject" data-parsley-error-message="¡El proyecto destino es obligatorio!">
				<option value="" disabled selected>Selecciona el proyecto destino</option>
				<option ng:repeat="p in projects" value="{{p.id}}" ng-if="project.id!=p.id">{{ p.name }}</option>
			</select>
		</div>
		<!-- <div class="[ col s12 m4 ]">
			<div class="[ input-field ][ left-align ]">
				<input class="[ filled-in ]" type="checkbox" id="checkbox-validation" value="1" name="requireValidation" />
				<label for="checkbox-validation">Transferencia parcial</label>
			</div>
		</div> -->
		<div class="[ col s12 ][ center-align  ]">
			<a href="#" class="[ waves-effect ][ btn ]" ng-click="transferInventory(project.id)"><i class="[ mdi-action-search ][ left ]"></i> Transferir</a>
		</div>
		<div class="clear"></div>
		<!-- <div class="[ col s12 ]"> 
			<h4 class="[ center-align ]">Artículos a transferir</h4>
			<div class="[ withdraw-items-titles ][ row ]">
				<p class="[ col s12 m3 ]">Nombre</p>
				<p class="[ col s12 m5 ]">Número de serie</p>
				<p class="[ col s12 m2 ]">Cantidad</p>
				<p class="[ col s12 m2 ]">Eliminar</p>
			</div>
			<div class="[ js-added-items ][ row ]">
			</div>
		</div>
		<div class="[ col s12 ][ center-align ]" >
				<button class="[ waves-effect ][ btn red ]">Enviar</button>
		</div>
		
		<div class="[ clear ]"></div>

		<h4 class="[ center-align ]"></h4>
		<div class="[ col s12 m4 offset-m2 ][ input-field ]">
				<input id="keyword" type="text" ng-model="keyword">
				<label for="[ keyword ]">Palabras clave</label>
		</div>
		<div class="[ col s12 m4 ][ input-field ]">
				<input id="serialNumber" type="text" ng-model="serialNumber">
				<label for="serialNumber">Número de serie</label>
		</div>
		<div class="[ clear ]"></div>
		<div class="[ col s12 ][ center-align  ]">
				<a href="#" class="[ waves-effect ][ btn ]" ng-click="searchItems()"><i class="[ mdi-action-search ][ left ]"></i> Buscar</a>
		</div>
		
		<table datatable="ng" dt-options="dtDeliveryOptions" dt-column-defs="dtDeliveryColumnDefs" class="row-border hover">
				<thead>
						<tr>
								<th class="[ center-align ]">Img</th>
								<th class="[ center-align ]">Nombre</th>
								<th class="[ center-align ]">Número de serie</th>
								<th class="[ center-align ]">Código de barras</th>
								<th class="[ center-align ]">Cantidad</th>
								<th class="[ center-align ]">¿Agregar a envío?</th>
						</tr>
				</thead>
				<tbody>
						<tr ng-repeat="i in project.inventory_items">
								<td><img ng-src="{{ i.item.img }}" alt="{{i.item.name}}"></td>
								<td id="name-{{i.item.id}}"  class="[ center-align ]">{{ i.item.name }}</td>
								<td  class="[ center-align ]" id="serial-number-{{i.item.id}}">{{ i.item.serial_number }}</td>
								<td class="[ center-align ]">{{ i.item.barcode }}</td>
								<td class="[ center-align ]"><div class="[ input-field ]">
										<div class="[ input-field ]">
												<input type="text" id="quantity-{{i.item.id}}" value="{{ i.item.quantity }}" name="item_quantity" />
												<label for="quantity-{{i.item.id}}"></label>
										</div>
								</td>
								<td class="[ center-align ]">
										<div class="[ input-field ][ delivery-items ]">
												<input class="[ filled-in ]" type="checkbox" id="check-{{i.item.id}}" value="{{i.item.id}}" name="item_id" />
												<label for="check-{{i.item.id}}"></label>
										</div>
								</td>
								<input id="actable-type-{{i.item.id}}" type="hidden" value="{{i.item.actable_type}}">
						</tr>
				</tbody>
		</table> -->
  </div>
</div>
