<div class="[ card-panel ]">
  <div class="[ row ]">
		<h3 class="[ center-align ]">Transferir inventario</h3>
		<div class="[ col s12 m8 offset-m2 l6 offset-l3 ]">
			Selecciona el proyecto al que quieres transferir inventario. Si deseas hacer una transferencia parcial, selecciona la casilla y escoge manualmente los artículos que deseas transferir.
		</div>
		<div class="[ clear ]"></div>
		<div class="[ col s12 m8 offset-m2 l6 offset-l3 ][ mt-10 ]">
			<h4>Proyecto fuente: {{ project.name }} {{showInventory}}</h4>
		</div>
		<div class="[ clear ]"></div>
		<div class="[ col s12 m4 offset-m2 l6 offset-l3 ][ mt-10 ]">
			<select name="destinationProject" ng-model="destinationProject" data-parsley-error-message="¡El proyecto destino es obligatorio!">
				<option value="" disabled selected>Selecciona el proyecto destino</option>
				<option ng:repeat="p in projects" value="{{p.id}}" ng-if="project.id!=p.id">{{ p.name }}</option>
			</select>
		</div>
		<div class="[ col s12 ]">
			<div class="[ input-field ][ center-align ]">
				<input class="[ filled-in ]" type="checkbox" id="partial-transfer" value="1" name="partialTransfer" ng-click="partialTransfer = !partialTransfer" />
				<label for="partial-transfer">Transferencia parcial</label>
			</div>
		</div>
		<div class="[ col s12 ][ center-align  ]">
			<button class="[ waves-effect ][ btn ]" ng-click="transferInventory(project.id)"><i class="[ mdi-action-search ][ left ]"></i> Transferir</button>
		</div>
		<div class="[ clear ]"></div>
		<h4 class="[ center-align ]"></h4>
		
		<div ng-show="partialTransfer">
			<table datatable="ng" dt-options="dtProjectInventoryOptions" dt-column-defs="dtProjectInventoryColumn" class="row-border hover" >
					<thead>
							<tr>
									<th class="[ center-align ]">Img</th>
									<th class="[ center-align ]">Nombre</th>
									<th class="[ center-align ]">Número de serie</th>
									<th class="[ center-align ]">Código de barras</th>
									<th class="[ center-align ]">Cantidad</th>
									<th class="[ center-align ]">¿Agregar a envío?</th>
							</tr>
					</thead>
					<tbody>
							<tr ng-repeat="i in items">
									<td><img ng-src="{{ i.item_img_thumb }}" alt="{{i.name}}"></td>
									<td id="name-{{i.id}}"  class="[ center-align ]">{{ i.name }}</td>
									<td  class="[ center-align ]" id="serial-number-{{i.id}}">{{ i.serial_number }}</td>
									<td class="[ center-align ]">{{ i.barcode }}</td>
									<td class="[ center-align ]">{{ i.quantity }}</td>
									<td class="[ center-align ]">
											<div class="[ input-field ][ transferItem ]">
													<input class="[ filled-in ]" type="checkbox" id="check-{{i.id}}" value="{{i.id}}" name="item_id" />
													<label for="check-{{i.id}}"></label>
											</div>
									</td>
									<input id="actable-type-{{i.id}}" type="hidden" value="{{i.actable_type}}">
							</tr>
					</tbody>
			</table>
		</div>
  </div>
</div>
