<div class="[ card-panel ]">
    <div class="[ row ]">
        <form name="delivery-form" class="[ mt-40 ][ left-align ]" enctype="multipart/form-data" ng-submit="deliver( status )" data-parsley-delivery>
            <h4 class="[ center-align ][ mb-20 ]">Información de envío</h4>
            <div class="[ col s12 m4 offset-m2 ]" ng-if="2 == delivery.status || 3 == delivery.status">
                <div class="input-field">
                    <input id="status-text" type="text" name="statusText" ng-readonly="true" ng-model="statusText">
                    <label for="status-text">Estatus</label>
                </div>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 m4 offset-m2 ]">
                <div class="input-field">
                    <input id="delivery-guy" type="text" name="delivery-guy" ng-model="delivery.delivery_guy">
                    <label for="delivery-guy">Repartidor</label>
                </div>
            </div>
            <div class="[ col s12 m4 ]"> 
                <div class="input-field">
                    <input id="company" type="text" name="company" ng-model="company">
                    <label for="company">Empresa donde se entrega</label>
                </div>
            </div>
            <div class="[ col s12 m8 offset-m2 ]"> 
                <div class="input-field">
                    <input id="address" type="text" name="address" ng-model="address">
                    <label for="address">Dirección</label>
                </div>
            </div>
            <div class="[ col s12 m8 offset-m2 ][ map-container ]"> 
                <div id="map"></div>
            </div>
            <div class="[ col s12 m4 offset-m2 ]"> 
                <div class="input-field">
                    <input id="recipient-name" type="text" name="addressee" ng-model="addressee">
                    <label for="recipient-name">Persona que va a recibir</label>
                </div>
            </div>
            <div class="[ col s12 m4 ]"> 
                <div class="input-field">
                    <input id="recipient-phone" type="text" name="addresseePhone" ng-model="addresseePhone">
                    <label for="recipient-phone">Teléfono de quien va a recibir</label>
                </div>
            </div>
            <div class="[ col s12 m8 offset-m2 ]"> 
                <div class="input-field">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="delivery.additional_comments" ></textarea>
                    <label for="textarea1">Observaciones adicionales</label>
                </div>
            </div>
            <div class="[ col s12 m8 offset-m2 ]" ng-if="1 == delivery.status"> 
                <div class="file-field input-field">
                    <input class="file-path validate" type="text" placeholder="Haz click aquí para subir una imagen" required>
                    <div class="">
                        <span>Subir imagen</span>
                        <input type="file" id="deliveryImg" ng-model="deliveryImg" />
                    </div>
                </div>
            </div>
            <h4 class="[ center-align ][ mb-20 ]">Artículos enviados</h4>
            <div class="[ col s12 m8 offset-m2 ]"> 
                <table datatable="ng" dt-options="dtDeliverySummaryOptions" dt-column-defs="dtDeliverySummaryColumnDefs" class="row-border hover">
                    <thead>
                        <tr>
                            <th class="[ center-align ]">Nombre</th>
                            <th class="[ center-align ]">Tipo de mercancía</th>
                            <th class="[ center-align ]">Cantidad</th>
                            <th class="[ center-align ]">Entregado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in deliveryItems">
                            <td>{{ i.name }}</td>
                            <td class="[ center-align ]">{{ i.item_type }}</td>
                            <td class="[ center-align ]">{{ i.quantity }}</td>
                            <td class="[ center-align ]">
                                <div class="[ input-field ][ mt-0 ]">
                                    <input class="[ filled-in ]" type="checkbox" id="{{i.id}}" value="{{i.id}}" name="item_id" checked="checked" />
                                    <label for="{{i.id}}"></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="[ clear ]"></div>
            <img class="[ col s12 m8 offset-m2 ][ materialboxed ]" src="{{delivery.image}}}" ng-if="2 == delivery.status || 3 == delivery.status"> 
            <div class="[ center ][ col s12 ]" ng-if="1 == delivery.status">
                <button class="[ waves-effect ][ btn btn-extra ][ green ]" ng-click="status=2"><i class="mdi-navigation-check left"></i>Entregado</button>
                <button class="[ waves-effect ][ btn btn-extra ][ red ]" ng-click="status=3"><i class="mdi-navigation-close left"></i>Cancelado</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('[data-parsley-delivery]').parsley();
</script>