<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Edita tu perfil</h4>
    <div class="[ row ]">
        <form name="entry_form" class="[ mt-40 ][ left-align ]" ng-submit="updateUser()" data-parsley-validate>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="text" id="email" ng-model="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="text" id="firstName" ng-model="firstName" required>
                    <label for="firstName">Nombre</label>
                </div>
            </div>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="text" id="lastName" ng-model="lastName" required>
                    <label for="lastName">Apellido(s)</label>
                </div>
            </div>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="text" id="role" ng-model="role" ng-readonly="true">
                    <label for="role">Rol</label>
                </div>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 ]"> 
                <input type="hidden" name="entry_type" value="unit">
                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]">actualizar</button>
                </div>
            </div>
        </form>


    </div>
</div>

<script>
  $('[data-parsley-validate]').parsley();
</script>





