<div class="page-title" data-ng-include="'navigation/breadcrumbs.html'"></div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Editar usuario</h4>
    <div class="[ row ]">
        <form name="entry_form" class="[ mt-40 ][ left-align ]" ng-submit="updateUser()" data-parsley-validate>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="text" id="email" ng-model="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="text" id="firstName" ng-model="firstName" required>
                    <label for="firstName">Nombre</label>
                </div>
            </div>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="text" id="lastName" ng-model="lastName" required>
                    <label for="lastName">Apellido(s)</label>
                </div>
            </div>
            <div class="[ col s12 m3 ]"> 
                <div class="input-field">
                    <input type="text" id="role" ng-model="role" ng-readonly="true">
                    <label for="role">Rol</label>
                </div>
            </div>
            <div class="[ clear ]"></div>
            <div class="[ col s12 ]"> 
                <input type="hidden" name="entry_type" value="unit">

                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]">actualizar</button>
                </div>
            </div>
        </form>


    </div>
</div>

<div class="[ card-panel ]">
    <h4 class="[ center-align ]">Eliminar usuario</h4>
    <div class="[ row ]">
        <div class="[ col s12 m8 offset-m2 ]"> 
            <p>Esta acción no se puede revertir. En caso de querer eliminar un project manager o ejecutivo de cuenta, deberás seleccionar a quien se le pasa el inventario del usuario actual.</p>
        </div>
        <div class="clear"></div>
        <div class="[ col s12 m4 offset-m4 ]" ng-show="isPM">
            <select name="pm" ng-model="selectedPM" data-parsley-error-message="Escoge un Project Manager" ng-change="canDelete=true">
                <option value="" disabled selected>Selecciona el PM</option>
                <option ng:repeat="user in projectManagers" value="{{user.id}}">{{user.first_name + ' ' +user.last_name}}</option>
            </select>
        </div>
        <div class="[ col s12 m4 offset-m4 ]" ng-show="isAE">
            <select name="ae" ng-model="selectedAE" required data-parsley-error-message="Escoge un Ejecutivo de cuenta" ng-change="canDelete=true">
                <option value="" disabled selected>Selecciona el ejecutivo de cuenta</option>
                <option ng:repeat="user in accountExecutives" value="{{user.id}}">{{user.first_name + ' ' +user.last_name}}</option>
            </select>
        </div>
        <div class="clear"></div>
        <div class="[ col s12 ]"> 
            <div class="[ center-align ]">
                <button class="[ waves-effect ][ btn red ]" ng-disabled="! canDelete" ng-click="deleteUser()">eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
  $('[data-parsley-validate]').parsley();
</script>





