<div class="row">
    <h4 class="[ center-align ]">Ubicación en almacén</h4>
    <div class="[ col s12 m4 offset-m2 ]"> 
        <div class="input-field">
            <input id="input_text" type="text" name="itemName" ng-model="itemName" required disabled>
            <label for="input_text">Nombre (alias)</label>
        </div>
    </div>
    <div class="[ col s12 m4 ]"> 
        <p>
            <input name="radio-location-bundle" type="radio" id="single-location-bundle" ng-model="locationBundleRadio" ng-click="showLocationForm(locationBundleRadio)" value="same" />
            <label for="single-location-bundle">Mover todo a una ubicación</label>
            <input name="radio-location-bundle" type="radio" id="multiple-locations-bundle" ng-model="locationBundleRadio" ng-click="showLocationForm(locationBundleRadio)" value="multiple"  />
            <label for="multiple-locations-bundle">Repartir en varias ubicaciones</label>
        </p>
    </div>
    <div class="[ clear ]"></div>
    <form name="location_form" class="[ mt-40 ][ left-align ]" ng-submit="addToLocation()" data-parsley-bundle-same ng-show="sameLocationType">
        <div>
            <div class="[ col s12 m6 l4 offset-l2 ]"> 
                <select name="rack" ng-model="selectedRack" required data-parsley-error-message="¡El rack es obligatorio!" ng-change="updateLocations( selectedRack )">
                    <option value="" disabled selected>Selecciona el rack</option>
                    <option ng:repeat="rack in racks" value="{{rack.id}}">{{rack.name}}</option>
                </select>
            </div>
            <div class="[ col s12 m6 l4 ]" > 
                <select name="location" ng-model="selectedLocation" ng-change="showLocationDetails( selectedLocation )">
                    <option value="" disabled selected>Selecciona la ubicación</option>
                    <option ng:repeat="location in locations" value="{{location.id}}">{{location.name + ' - ' + location.available_units + ' unidades disponbiles'}}</option>
                </select>
            </div>
        </div>
        <div class="[ col s12 m4 offset-m2 ]" ng-show="hasSameLocation"> 
            <div class="input-field">
                <input id="units" type="number" name="units" ng-model="units" required data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-range-message="El valor deber ser mayor que 1 y menor que {{ currentLocation.available_units }}." min="1" max="{{ currentLocation.available_units }}" required>
                <label for="units">Unidades que ocupa la mercancía:</label>
            </div>
        </div>
        <div class="[ col s12 m4 ]"> 
            <div class="[ center-align ]">
                <button class="[ waves-effect ][ btn ]" ng-show="hasSameLocation">Ubicar</button>
            </div>
        </div>
    </form><!-- sameLocationType -->
    <form name="multiple_location_form" class="[ mt-40 ][ left-align ]" ng-submit="addToLocation()" data-parsley-bundle-multiple ng-show="multipleLocationsType">
        <div class="[ col s12 ]">
            <h5 class="[ center-align ]">Partes del paquete</h5>
            <div class="[ row ]" ng-repeat="part in partsToLocate track by $index">
                <div class="[ col s6 m2 ][ input-field ]">
                    <input id="item-name-{{$index}}" type="text" value="{{part.name}}" ng-readonly="true" >
                </div>
                <div class="[ col s6 m2 ][ input-field ]">
                    <input id="item-serial-{{$index}}" type="text" value="{{part.serial_number}}" ng-readonly="true">
                </div>
                <div class="[ col s6 m2 ][ input-field ]">
                    <select id="rack-{{$index}}" name="rack-{{$index}}" ng-model="selectedRack" required data-parsley-error-message="¡El rack es obligatorio!" ng-change="updateLocationSelect( selectedRack, $index )">
                        <option value="" disabled selected>Selecciona el rack</option>
                        <option ng:repeat="rack in racks" value="{{rack.id}}">{{rack.name}}</option>
                    </select>
                </div>
                <div class="[ col s6 m3 ][ input-field ]">
                    <select name="location-{{$index}}" ng-model="selectedLocation[$index]" ng-change="restrictUnits( selectedLocation[$index], $index )">
                        <option value="" disabled selected>Selecciona la ubicación</option>
                        <option ng:repeat="location in multipleLocations[$index]" value="{{location.id}}">{{location.name + ' - ' + location.available_units + ' unidades disponbiles'}}</option>
                    </select>
                </div>
                <div class="[ col s6 m3 ][ input-field ]" > 
                    <input id="units-{{$index}}" type="number" name="units-{{$index}}" required data-parsley-type="number" data-parsley-type-message="Este campo debe ser númerico." data-parsley-range-message="El valor deber ser mayor que 1 y menor que {{ currentLocations[$index].available_units }}." min="1" max="{{ currentLocations[$index].available_units }}" required>
                    <label for="units-{{$index}}">Unidades que ocupa:</label>
                </div>
                <input type="hidden" id="parts-{{$index}}" value="{{part.id}}">
            </div>
        </div> 
        <div class="[ col s12 ][ center-align ]"> 
            <div class="[ center-align ]">
                <button class="[ waves-effect ][ btn ]">Ubicar</button>
            </div>
        </div>
    </form><!-- multipleLocationsType -->
</div><!-- row -->

<script>
    $('[data-parsley-bundle-same]').parsley();
    $('[data-parsley-bundle-multiple]').parsley();
</script>