<div class="[ row ][ center-align ]">
    <div class="[ col s12 l6 offset-l3 ]">
        <div class="[ card-panel ]">
            <div class="row clearfix">
                <img class="[ col s6 m2 offset-s3 offset-m5 ]" src="assets/_con/images/litobel.png" />
            </div>

            <h2 clas="[ light ]">Sistema de Inventario</h2>
            <p>Por favor ingresa tus credenciales para acceder al sistema.</p>

            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <form name="form" class="[ mt-40 ][ left-align ]" ng-submit="login()">

                <div class="[ input-field ]" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <i class="[ fa fa-user ][ prefix ]"></i>
                    <input id="email-input" type="email" name="email" ng-model="email" required ng-class="{ 'invalid': form.email.$dirty && form.email.$error.required }">
                    <label for="email-input">Correo electrónico</label>
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Este campo es obligatorio</span>
                </div>
                <div class="[ input-field ]" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <i class="[ fa fa-unlock-alt ][ prefix ]"></i>
                    <input id="password-input" type="password" name="password" ng-model="password" required ng-class="{ 'invalid': form.password.$dirty && form.password.$error.required }">
                    <label for="password-input">Contraseña</label>
                </div>
                <div class="[ center-align ]">
                    <span ng-show="errors" class="help-block">{{errors}}</span>
                </div>
                <div class="[ right-align ]">
                    <a href="page-forgot-password.html">¿Olvidaste tu contraseña?</a>
                </div>

                <div class="[ center-align ]">
                    <button class="[ waves-effect ][ btn ]" ng-disabled="form.$invalid" ng-show="!dataLoading">Entrar</button>
                </div>

            </form>
        </div><!-- card-panel -->
    </div><!-- col -->
</div><!-- row -->

